<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
</style>

<div class="container">
    <div class="sidenav">
        <a href="/accounts/home">About</a>
        <a href="/accounts/email" target="_blank">Create Email</a>
        <a href="/accounts/receive-email">Receive Email</a>
        <a href="/accounts/send-email">Send Email</a>
        <a href="/accounts/draft-email">Draft Email</a>
        <a href="/accounts/star-email">Star Email</a>
        <a href="/accounts/delete-email">Deleted Email</a>
        <a href="/accounts/search-email-basic">Search Email</a>
        <a href="/accounts/search-email-advance">Search Email Advance</a>
        <a href="/accounts/label-management">Label Management</a>
        <a href="/accounts/block-user">Block User</a>
        <a href="/accounts/change-password" style="color:white; background-color:gray">Change Password</a>
        <a href="/accounts/security-question">Security Question</a>
        <a href="/accounts/change-view">Change View</a>
    </div>
    <div class="main">
        <h2 class="mb-4 pb-2 pb-md-0 mb-md-3 text-center">Change Password</h2>
        <form action="/accounts/change-password" method="POST" id="changePassword">
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}

            {{#if success}}
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
            {{/if}}

            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" required />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="newPassword2">Re-enter New Password</label>
                <input type="password" id="newPassword2" name="newPassword2" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4" form="changePassword">Change Password</button>
        </form>
    </div>
</div>